*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.container{
    background-color: aqua;
    width: 70%;
    height: auto;
    margin: auto;
    margin-top: 100px;
    padding: 30px;
}
.cardsBox{
    width:1100px;
    margin: auto;
}
.card{
    width:350px;
    height: 320px;
    border-radius: 8px;
    background-color: #fff;
    display: inline-block;
    margin: 6px;
    overflow: hidden;
}      
.cardLeft{
    width:65%;
    height: 100%;
    background-color: tomato;
    display: inline-block;
    padding-top: 30px;
}
.cardRight{
    width:35%;
    height: 100%;
    background-color: yellow;
    float: right;
}
.cardImg{
    width: 120px;
    height: 120px;
    overflow: hidden;
    margin: auto;
    border-radius: 50%;
    background-color: wheat;
}
.cardLeft p:nth-child(2){
  text-align: center;
  padding-top: 20px;
  font-size: 22px;
}
.cardLeft p:nth-child(3){
  text-align: center;
  /* width:40px; */
  /* padding-top: 20px; */
  font-size: 18px;
}
.cardRight{
  text-align: center;
}

.cardRight p:nth-child(odd){
  /* text-align: center; */
  padding-top: 40px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}