*{
    margin: 0px;
    padding: 0px;
}
#header{
    background-color: aqua; 
    height: 40px;  
}
#logo{
    float: left;
}
#nav{
    float: right;
    padding-top: 10px;
}
.menulist{
    display: inline-block;
    padding-right: 30px;
    margin: auto;
    border-right: 3px solid #fff;
}
.clear{
    clear: both;
}