*{
    margin: 0px;
    padding: 0px;
}
#header{
    background-color: aqua; 
    /* height: 40px;   */
    width: 100%;
    display: inline-block;
}
#logo{
    /* float: left; */
    display: inline-block;
}
#nav{
    float: right;    
    padding-top: 10px;
    margin-right: 80px;
}
.menulist{
    display: inline;
    padding-right: 30px;
    margin: 25px;
    text-align: center;
    border-right: 3px solid #fff;
    width:100px;
}
.clear{
    clear: both;
} 
.mainheading{
    width:700px;
    margin: auto;
    text-align: center;
    padding-top: 20px;
}
.mainheading h1{
    padding-bottom: 10px;
}
.mainbg{
    background-color: burlywood;
    height: 70vh;
}
.blocks{
    width:800px;
    margin: auto;
    /* text-align: center; */
    padding-top: 20px;
    /* display: inline-block; */
}
.one, .two, .three{
    float:left;
    height:300px;
    width: 250px;
    text-align: center;         
}
.one{           
    background-color: rgb(39, 230, 220);            
}
.two{
    background-color: rgb(67, 168, 20);            
}
.three{
    background-color: rgb(165, 17, 179);           
}
.spanstyle{
    display: block;
    /* border: 1px solid #fff; */
    background-color: rgba(199, 30, 30, .5);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    color: white;
    text-align: center;
    padding: 20px;
    margin: 5px;
    font-size: 20px;
}
.one p, .two p, .three p{
    padding-top: 30px;
}
.footer{
    background-color: gray;
    height: 190px;
    text-align: center;
}
.footer>p{
    display: block;
    padding-top: 40px;
    width:400px;
    margin: auto;
}
.menulist a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgb(107, 107, 185);
    padding: 6px;
}